/* Global styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

/* Profile styles */

.profile {
  max-width: 800px;
  margin: 0 auto;
}

/* Profile header styles */

.profile-header {
  position: relative;
  height: 250px;
}

.cover-image {
  height: 150px;
  overflow: hidden;
}

.cover-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.profile-picture {
  position: absolute;
  top: 100px;
  left: 30px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #ddd;
}

.initials {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  color: #fff;
  text-transform: uppercase;
}

.profile-name {
  position: absolute;
  top: 130px;
  left: 200px;
}

.profile-name h1 {
  font-size: 32px;
  color: #333;
}

/* Profile body styles */

.profile-body {
  padding: 30px;
}

.bio {
  margin-bottom: 30px;
}

.bio p {
  line-height: 1.5;
}

.posts {
  margin-bottom: 30px;
}

.post {
  margin-bottom: 20px;
}

.post h3 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.post p {
  line-height: 1.5;
}

.child {
  color: red;
}

.post-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 30px;
}

.post-form h3 {
  margin-bottom: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  gap: 10px;
}

#post-title,
#post-content {
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  font-size: 14px;
}

#post-title,
#post-content:focus {
  outline-color: #719ece;
}

.btn-submit {
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  font-size: 14px;
  background-color: #719ece;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

.btn-submit:hover {
  background-color: #3d70a7;
}

.buttons-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.delete-btn,
.update-btn {
  padding: 3px 5px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

.delete-btn {
  background-color: #df4e3e;
}

.delete-btn:hover {
  background-color: #a72b1b;
}

.update-btn {
  background-color: #719ece;
}

.update-btn:hover {
  background-color: #3d70a7;
}
